## Define the base style
BasedOnStyle: Google

## Deviations from the base style
AlignAfterOpenBracket: DontAlign
AlignOperands: false
BreakBeforeBraces: Allman
ColumnLimit: 100
MaxEmptyLinesToKeep: 3
NamespaceIndentation: All
SortIncludes: false
SpacesInContainerLiterals: false
Standard: Cpp11
TabWidth: 4
IndentWidth: 4
