# general filetypes to ignorer
*.pyc
*.pyd
.*

# test file in root folder
/test.py

# coverage report
*/htmlcov/*

# eclipse stuff
*.project
*.directory
*.pydevproject
*.settings*

# testing folder
*/testing-tmp

# Python stuff
*/__pycache__

# ignore build folders for cython
build/
*/cython_build
meshpy/meshpy
*/find_close_points.c
*/find_close_points.html
*.so

# packaging folders
*.egg-info/

# Website stuff
_site
.sass-cache
.jekyll-metadata
*.lock
website/public/

# Don't ignore directory of Github workflows
!.github
!.pre-commit-config.yaml
!.binder
