# general filetypes to ignorer
*.txt
*.pyc
.*

# test file in root folder
/test.py

# coverage report
*/htmlcov/*

# eclipse stuff
*.project
*.directory
*.pydevproject
*.settings*

# testing folder
*/testing-tmp

# Python stuff
*/__pycache__

# ignore build folders for cython
*/build
*/cython_build
meshpy/meshpy
*/find_close_points.c
*/find_close_points.html

# AceGen stuff
*/rotation_matrix.cpp
*/AceShare

# Website stuff
_site
.sass-cache
.jekyll-metadata
*.lock
website/public/
