name: Build documentation

on:
  # Only build the documentation once the test suite has completed on the main branch
  workflow_run:
    workflows: [Test suite]
    types: [completed]
    branches: [main]

jobs:
  build_documentation:
    name: Build documentation
    # Only run if a push to main occurred, do not run after nightly cron job
    if: ${{ github.event.workflow_run.event == 'push' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup virtual python environment
        uses: ./.github/actions/setup_virtual_python_environment
      - name: Install dependencies
        run: |
          cd ${GITHUB_WORKSPACE}
          source python-workflow-venv/bin/activate
          pip install -e .[dev,fourc]
      - name: Build API documentation
        run: |
          source python-workflow-venv/bin/activate
          pdoc --math --docformat google --output-dir api-documentation src/beamme/
      - name: Upload API documentation artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-documentation
          path: api-documentation/
